/* Reset CSS básico para eliminar los estilos predeterminados del navegador */

/* Establecer el tamaño de fuente predeterminado a 16px */
html {
    font-size: 16px;
}

/* Eliminar el margen predeterminado del cuerpo */
body {
    margin: 0;
    padding: 0; /* Añadir esta línea para eliminar el relleno predeterminado */
}

/* Eliminar el relleno predeterminado de la lista */
ul, ol {
    padding: 0;
    margin: 0;
}

/* Eliminar la decoración de lista */
ul, ol, li {
    list-style: none;
}

/* Establecer márgenes y rellenos predeterminados en todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Agregar estilos personalizados a partir de aquí */


